<%= render 'shared/error_messages', :target => comment %>
<%= form_for [entry, comment] do |f| %>
  <div>
    <%= f.text_area :body, :class => 'input-xlarge', :rows => 4 %>
  </div>
  <div>
    <%= f.label :email, "Your email:" %><%= f.text_field :email, :class => 'input-xlarge', :placeholder => "user@example.com" %>
  </div>
  <div>
    <%= f.submit "Add Comment", :class => 'btn' %>
  </div>
<% end %>
