<div id="entry-summary">
  <h1><%= link_to @entry.title, @entry.url %></h1>
  <p class="metadata">
    Submitted <%= time_ago_in_words(@entry.created_at) %> ago by <%= @entry.email %>
  </p>
</div>

<div id="comments">
  <h2>Comments</h2>

  <% @comments.each do |comment| %>
    <div class="comment">
      <p>
        <strong><%= comment.email %></strong> said <%= time_ago_in_words(comment.created_at) %> ago:<br/>
        <%= comment.body %>
      </p>
    </div>
  <% end %>
</div>
